@{
    Layout = "_ManagerLayout";
}
<h1>输入规范</h1>
<hr />
<h3>输入主键不能重复</h3>
<p>管理员输入的各个信息的id是不能重复的，输入有误会弹出检查输入的视图提醒管理员检查所输入的内容。</p>

<h3>球队Id不能为0</h3>
<p>因系统设计原因，球队、球员Id不能为0。</p>

<h3>赛程输入规范</h3>
<p>赛程时间输入为：年/月/日/时钟/分钟 </p>

<h3>赛程结果表输入规范</h3>
<p>管理员输入进球球员和进球数量记录的时候要注意输入格式为：进球人id;进球人id;每个进球人id用英文分号符分隔，进球id可以重复，进一个球重复一次。比如张三id为1，他进了2个球，李四id为2，他进了1个球，需要输入的字符串为1;1;2。无进球输入none。
	助攻球员和助攻数量记录、黄牌球员记录、红牌球员记录输入的格式和进球球员和进球数量记录的格式一样。
	平局时获胜队伍id输入0。
</p>

<h3>所有相联系的数据必须匹配</h3>
<p>比如球员表中有球队id这一输入框，输入的球队id必须是存在的，不然会添加数据失败。</p>

<h3>赛程结果输入注意点</h3>
<p>编辑赛程结果并提交成功后，赛程会自动变成已经结束状态，并且系统将自动计算所有的进球、助攻、红黄牌数据。已经结束的赛程再次编辑赛程结果时
	系统会自动撤销上次的计算，并根据新的赛程结果重新计算并统计数据。
</p>
